body {
  padding: 0;
  margin: 0;
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
}

/* navbar */

.app-navbar {
  float: right;
}

/* // modal */

.app-modal-page {
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
}

.app-modal-content {
  padding: 20px;
}

.app-modal-footer {
  bottom: 0;
  right: 0;
  left: 0;
  padding: 20px;
  position: absolute;
  text-align: right;
}

.app-modal-title {
  background-color: #0089ce;
}

.app-modal-icon-fullscreen,
.app-modal-title-text,
.app-modal-icon-close,
.app-modal-icon-fullscreen-exit {
  cursor: pointer;
  padding-top: 4px;
}



/*
* Navigation
*/

/* @media (max-width: 575px) {
  .app-navbar {
    display: none;
  }
}
@media (min-width: 576px) and (max-width: 991px) {
}
@media (max-width: 991px) {
}
@media (min-width: 992px) {
} */


input[type="number"] {
  appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]:hover::-webkit-inner-spin-button,
input[type="number"]:hover::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}